[submodule "FXAS21002C_Arduino_Library"]
	path = FXAS21002C_Arduino_Library
	url = https://github.com/udooboard/FXAS21002C_Arduino_Library
[submodule "fxos8700cq-arduino"]
	path = fxos8700cq-arduino
	url = https://github.com/UDOOboard/fxos8700cq-arduino
[submodule "LM75"]
	path = LM75
	url = https://github.com/UDOOboard/LM75
[submodule "LiquidCrystal"]
	path = LiquidCrystal
	url = https://github.com/UDOOboard/LiquidCrystal
[submodule "TSL2561-Arduino-Library"]
	path = TSL2561-Arduino-Library
	url = https://github.com/UDOOboard/TSL2561-Arduino-Library
[submodule "SI7021"]
	path = SI7021
	url = https://github.com/UDOOboard/SI7021
[submodule "Adafruit_MPL3115A2_Library"]
	path = Adafruit_MPL3115A2_Library
	url = https://github.com/UDOOboard/Adafruit_MPL3115A2_Library
